.posts-container {
  width: 80%;
  margin: 0 auto;	
  flex-direction: column;
}

.search-container {
  display: flex;
  position: sticky;
  top: 0;
  background: #282c34;
  align-items: center;
  justify-content: space-evenly;
}

.search-box {
  padding: .375rem .75rem;
  margin: 10px;
}

.no-result {
  border: 1px solid red;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
}
